@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background:#808080;">
    <h1>Brampton Civic Hospital</h1>
    <p class="lead">The power of community to create health is far greater than any physician, clinic or hospital.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Patient</h2>
        <p>
           List of Patients
        </p>
        <p><a class="btn btn-default" href="https://localhost:44370/Patient/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Room</h2>
        <p>List of Rooms</p>
        <p><a class="btn btn-default" href="https://localhost:44370/Room/List">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact Us</h2>
        <p>Service Available 24/7</p>
        <p><a class="btn btn-default" href="https://localhost:44370/Home/Contact">Learn more &raquo;</a></p>
    </div>
</div>